<nav class="navbar navbar-expand-xl bg-light navbar-light">
  <div class="collapse navbar-collapse">
    <a href="#" class="navbar-brand">Recipe Book</a>
      <ul class="nav navbar-nav">
          <li class="nav-item" routerlinkactive="active current">
              <a routerlink="#" class="nav-link"><b>Recipes</b></a>
          </li>
          <li class="nav-item" routerlinkactive="active current">
              <a routerlink="#" class="nav-link"><b>Shopping List</b></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Manage
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Save Data</a>
              <a class="dropdown-item" href="#">Fetch Data</a>
            </div>
          </li>
      </ul>
  </div>
</nav>
  